# Gradle & Build Output
.gradle/
build/
app/build/
.kotlin/
captures/
.externalNativeBuild/
.cxx/
*.iml

# Local & Machine-Specific Configuration
local.properties
keystore.properties

# Android Studio & IDE
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.DS_Store

# Log Files
*.log

# Keystore & Secrets
*.jks
*.keystore
google-services.json

# Built Artifacts
*.apk
*.aab
output.json
app/release/*

# Android Profiling
*.hprof